@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/forms.scss";
<<<<<<< HEAD
@import "../register.component.scss";


.test {
    height: 200px;
    width: 200px;
    background-color: #fff
}
=======
>>>>>>> b6ec603b2744e9eec2341ea6ae524c1bf58c29e6
