@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/forms.scss";
@import "../register.component.scss";


.test {
    height: 200px;
    width: 200px;
    background-color: #fff
}