<section class="singleShop mb-5">
    <div class="container">
        <div class="row mt-5">
            <!-- row col-2  about search -->
            <div class="col-sm-2 ">
                <div  class="row">
                    <div class="col-12 mb-3">
                        <div class="row">
                            <div class="col-2"><i class="fas fa-minus"></i></div>
                            <div class="col-8"><h5>الأقسام</h5></div>
                        </div>              
                    </div>
                </div> 
            </div>
            <!-- row col-10  about cards -->
            <div class="col-sm-10 cards">
                <div class="row">
                    <div class="col-12 data mb-3">
                        <h4 class="pl-3">سعيد نصار</h4>
                        <p> عدد المنتجات <span>(3)</span></p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 d-flex align-items-stretch pb-5">
                        <div  class="card p-2" routerLink="/single/5" >
                            <img class="card-img-top" src="../../assets/img/spare/sp9.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title text-right"> سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                <div class="card-text">
                                    <div class="row">
                                        <div class="col-8 text-right p-0">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star white"></i>
                                        </div>
                                        <div class="col-4 p-0">
                                            <p>(5)</p>
                                        </div>
                                        <div class="col-6 p-0">السعر</div>
                                        <div class="col-6 p-0">١٠٠٠ جنية</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
