.bgContactUs{
    background-image:url("/assets/img/underHeader/bgContactUs.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
//----------------------section contactUs
.contactUs{
    direction: rtl;
    text-align: right;
    background-image: url(../../assets/img/bgPattern/6.png);
    background-repeat: repeat;
    height: 100%;
    form{
        box-shadow: 0px 0px 20px 1px lightgrey;
        background-color: rgba($color: #fff, $alpha: .90);
        border-radius: 7px;
        .form-row{
            .form-group{
                label{
                    color: #343a40;  
                }
                input , textarea , select{
                    background-color: #f7f7f7;
                    }
            }//form-group
        }//form-row
        button{
            background-color: #50c1e9;
            border: none;
        }
    }//form
    .card{
        box-shadow: 0px 0px 20px 1px lightgrey;
        background-color: rgba($color: #fff, $alpha: .90);
        border-radius: 7px;
        border: none;
        .card-body{
            hr{
                width: 80px;
                margin-right: 0;
                border: 1px solid #50c1e9;
            }
            p{
                i{
                    color: #50c1e9;
                }
            }
            div{
                img{
                    border: 1px solid #50c1e9;
                }
            }
        }
    }
}//needSpare