<section class="about container-fluid py-5">
    <h2 class="text-right mb-3">عن جير</h2>
 
  <div class="row justify-content-end mb-5">
      <div class="col-6">
        <p class="text-right">جير هو أحدث موقع لتجارة قطع غيار واكسسورات و مستلزمات السيارات في مصر </p>
        <p class="text-right"> ينمو جير بسرعة رهيبة فهو يضم يوميا عدد اكبر من محلات قطلع الغيار و خدمات السيارات</p> 
      </div>
      <div class="col-2">
        <img src="https://placehold.it/300x300" alt="" class="img-fluid">
      </div>
 </div>





  <h2 class="text-right">خدمات جير</h2>
  <div class="row mb-5  justify-content-end">
      <div class="col-6">
        <h4  class="text-right"> تسويق منتجاتك</h4>
          <p class="text-right">
              يوفر لك جير اماكنية لتسويق منتجاتك على الموقع مجانا من خلال انشاء حساب ومن ثم ادخال البيانات الخاصة بالمنتجات و سوف يساعدك جير بالتسويق لها عن طريق عرض منتجاتك في نتائج بحث العملاء
          </p>
      </div>
      <div class="col-2">
          <img src="https://placehold.it/200x200" alt=""  class="img-fluid">
      </div>
  </div>


    <div class="row justify-content-end mb-5">  
        <div class="col-6">
          <h4 class="text-right"> شراء منتجات</h4>
            <p class="text-right">
                يساعدك جير في ايجاد ما تحتاج اليه من قطع غيار و اكسسوارات السيارات حيث يعرض لك جميع المحلات التي
                تحتوي على المنتج الذي ترغب في شرائه والمعلومات الخاصة بكل محل مثل ارقام هواتف المحل والمكان وايضا خدمة عرض السعر اذا كان يوفرها المحل   
            </p>
        </div>

        <div class="col-2">
            <img src="https://placehold.it/200x200" alt=""  class="img-fluid">
          </div>
      </div>
  


  

</section>