<section class="editProduct">
    <section class="container mb-5 ">
        <div class="row pt-5">
          <div class="col-3">
            <img src="https://placehold.it/150x900" alt="" class="img-flauid">
            <img src="/assets/img/profileShop.jpg" alt=""  class="img-flauid">
            <img src="/assets/img/profileShop.jpg" alt=""  class="img-flauid">
            <img src="/assets/img/profileShop.jpg" alt=""  class="img-flauid">
  
          </div>

          <div class="col-9  form">
            <div class="row align-items-center">
                <div class="col-12  text-center mt-5 mb-3">
                    <h3 class="text-center">تعديل المعلومات الخاصة بالمنتج</h3>
                </div>
    
            <div class="col-6 text-center">
              <img src="/assets/img/logo.png" alt="">
            </div>
            <div class="col-6">
              <form class="p-4" >
                  <div class="form-row mb-4">
                    <div class="form-group col-md-12 text-right">
                      <label for="inputEmail4">اسم القطعة</label>
                      <input type="email" class="form-control text-right">
                    </div>
                  </div>
      
                  <div class="form-row mb-4">     
                    <div class="form-group col-md-6 text-right">
                      <label for="inputPassword4">رقم الصنف</label>
                      <input type="number" class="form-control text-right">
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">التصنيف</label>
                        <select id="inputState" class="form-control">
                            <option selected></option>
                            <option>...</option>
                          </select>
                     </div>
                   </div>
          
      
                  <div class="form-row mb-5">
                      <div class="form-group col-md-6  text-right ">
                          <label for="inputState">الموديل</label>
                          <select id="inputState" class="form-control">
                            <option selected></option>
                            <option>...</option>
                          </select>
                        </div>
                    <div class="form-group col-md-6 text-right">
                      <label for="inputState">الماركة</label>
                      <select id="inputState" class="form-control">
                        <option selected></option>
                        <option>...</option>
                      </select>
                    </div>
                  </div>
      
                  <div class="form-row mb-4 text-right">
          
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress2">عدد القطع</label>
                        <input type="number" class="form-control text-right">
                      </div>
      
                
      
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">بلد المنشأ</label>
                        <input type="text" class="form-control text-right">
                      </div> 
                  </div>
      
                  <div class="form-row mb-4 text-right">
          
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress2">الخصم</label>
                        <input type="number" class="form-control text-right">
                      </div>
      
                
      
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">السعر</label>
                        <input type="number" class="form-control text-right">
                      </div> 
                  </div>
      
                
      
      
      
                  <div class="form-group">
                      <div class="form-group 0col-md-12 text-right">
                        <label for="exampleFormControlTextarea1" >الوصف</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                  </div>
      
                  
                  <button type="submit" class="btn btn-primary text-center mr-3">حفظ</button>
                  <button type="submit" class="btn btn-secondary text-center">رجوع</button>
                </form>
          </div>
          </div>
        </div>
      </div>
      </section>

</section>

